#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.flex-wrapper {
  display: flex;
}

.flex-wrapper-column {
  display: flex;
  flex-direction: column;
}

.align-items-start {
  align-items: start;
}

p {
  margin: 0;
}
